* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
--primary-color-1: 
hsl(263, 55%, 52%);
--primary-color-2: 
#778193;
--primary-color-3: 
hsl(219, 29%, 14%);
--primary-color-4: 
white;

--neutral-color-1: 
hsla(0, 0%, 81%, 0.864);
--neutral-color-2: 
hsla(0, 0%, 90%, 0.857);
--neutral-color-3: 
rgb(62, 62, 62);
--neutral-color-4: 
rgb(82, 97, 129);


--font-size-large: 
16px;
--font-size-medium: 
15px;
--font-size-small: 
11px;
--font-size-tiny: 
10px;

--spacing-large: 
20px;
--spacing-medium: 
15px;
--spacing-small: 
10px;
--spacing-tiny: 
5px;

--font-weight-large: 
500;
--font-weight-medium: 
400;
--font-weight-small: 
300;

/* h3 for student name*/
/* h4 for verified status*/
/* h5 for textimonial summary*/
/* p for testimony*/
}

body {
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: #ECF2F8;
    padding-block: 5rem;
    margin-inline: auto;
}



.card-1 {
    padding: 20px 20px;
    border-radius: 5px;
}

/* Created a Card-2 to accomodate the styling for the cards with white background. 
Custom properties in root still control the styling */

.card-2 {
    padding: 20px 20px;
    border-radius: 5px;
}


@media (min-width:50px) and (max-width:250px) {
    .grid-container {
        display: grid;
        gap: 20px;
        max-width: 50px;
    }
    .Jaenette {
        background-color: var(--primary-color-4);
        grid-row-start: 3;
        }


.Kira {
    background-color: var(--primary-color-4);
    grid-row-start: 5;
    }


.Jonathan {
    grid-row-start: 2;
    }

    .span-2 {
        grid-column: 1;
    }


.quote img {
    opacity: 0.0;
    z-index: -1;
    width: 15px;
    transform: scale(6.0) translate(7.4px, 1px);
}
    
}

@media (min-width: 250px) and (max-width: 500px) {
    .grid-container {
        display: grid;
        gap: 20px;
        max-width: 250px;
    }
    .Jaenette {
        background-color: var(--primary-color-4);
        grid-row-start: 3;
        }


.Kira {
    background-color: var(--primary-color-4);
    grid-row-start: 5;
    }


.Jonathan {
    grid-row-start: 2;
    }

    .span-2 {
        grid-column: 1;
    }


.quote img {
    opacity: 0.3;
    z-index: -1;
    width: 15px;
    transform: scale(6.0) translate(7.4px, 0.5px);
}
    
}

@media (min-width: 500px) and (max-width: 800px) {
    
    .grid-container {
        display: grid;
        gap: 20px;
        max-width: 470px;
    }
    .Jaenette {
        background-color: var(--primary-color-4);
        grid-row-start: 3;
        }


    .Kira {
    background-color: var(--primary-color-4);
    grid-row-start: 5;
    }


    .Jonathan {
    grid-row-start: 2;
    }

    .span-2 {
        grid-column: 1;
    }
    

.quote img {
    opacity: 0.3;
    z-index: -1;
    width: 15px;
    transform: scale(7.2) translate(30px, 1px);
}

}


@media (min-width: 800px) {

    body {
        padding-block: 10rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        max-width: 800px;
        padding: 10px 40px;
    }

    .Jaenette {
        background-color: var(--primary-color-4);
        grid-row-start: 2;
        grid-column-start: 1/2;
        }


.Kira {
    background-color: var(--primary-color-4);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 4/5;
    }


.Jonathan {
    grid-column: 3/4;
    }

    .span-2 {
        grid-column: span 2;
    }

.quote img {
    opacity: 0.3;
    z-index: -1;
    width: 15px;
    transform: scale(6.8) translate(15px, 1px);
}
    
}



.card-1:nth-child(1) {
    background-color: var(--primary-color-1);
}
.card-1:nth-child(2) {
    background-color: var(--primary-color-2);
}
.card-1:nth-child(4) {
    background-color: var(--primary-color-3);
}


.card-1 h3 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: white;
}

.card-1 h4 {
    color: var(--neutral-color-1);
    font-size: var(--font-size-tiny);
    font-weight: var(--font-weight-small);    
}

.card-1 h5 {
    color: var(--primary-color-4);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);  
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small)
}

.card-1 p {
  color: var(--neutral-color-2);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-small)
}

.card-2 h3 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--neutral-color-3);
}

.card-2 h4 {
    color: var(--neutral-color-3);
    font-size: var(--font-size-tiny);
    font-weight: var(--font-weight-small);    
}

.card-2 h5 {
    color: var(--neutral-color-4);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);  
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small)
}

.card-2 p {
    color: var(--neutral-color-3);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-small)
}


.profile {
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;
}



.daniel-img {
    border-radius: 50%;
    width: 25px;
    border: solid;
    border-width: 2px;
    border-color: var(--primary-color-1);
    --primary-color-1: hsl(263, 73%, 60%);
}

.Jonathan img,
.Jaenette img,
.Kira img {
    border-radius: 50%;
    width: 25px;
    border: solid;
    border-width: 2px;
    border-color: var(--primary-color-4);
}

.Patrick img {
    border-radius: 50%;
    width: 25px;
    border: solid;
    border-width: 2px;
    border-color: var(--primary-color-1);
}

.Daniel {
    z-index: -2;
}